* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

#anim {
    margin-bottom: 5px;
}
#container {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 5%;
}

#btn1,
#btn2:hover {
    cursor: pointer;
}

#square {
    width: 100px;
    height: 100px;
    background: white;
}


#circle {
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50%
}


#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    /* background: black; */
}

#star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}

#star-five:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

#star-five:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}


#diamond {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: red;
    position: relative;
    top: -50px;
}

#diamond:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: red;
}


#anim{
    height: 150px;
    width: 700px;
    font-size: 4rem;
    animation-name: sizechange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    color: darkblue;
    font-weight: 700;
}

@keyframes sizechange{
    /* 0%{
        font-size: 5rem;
    }

    25%{
        font-size: 4rem;
    } */

    50%{
        font-size: 1rem;
    }

    65% {
        font-size: 1.3rem;
    }

    75%{
        font-size: 1.7rem;
    }

    100% {
        font-size: 2rem;
    }
}

#btn1 {
    padding: 0.7rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 3px solid #F83A70;
    background-color: #FAD3E1;
    color: #DD4F70;
    font-weight: 750;
    transition: all 0.2s;
}

#btn1:hover {
    transform: translateX(7px);
    background-color: #F83A70;
    color: white;
}

#btn2 {
    padding: 0.4rem;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 2px solid #F83A70;
    background-color: #FAD3E1;
    color: #DD4F70;
    font-weight: 700;
    transition: all 0.2s;

}

#btn2:hover {
    transform: translateX(-7px);
    background-color: #F83A70;
    color: white;
}

.bg-color {
    background-color: blanchedalmond;
}

#extra-btn {
    margin-right: 20rem;
    position: absolute;
    top: 80%;
}
#extra-btn:hover {
    cursor: pointer;
}